@model List<EntityLayer.Concrete.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Veri Listesi</h2>
<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Hakkımda Başlığı</th>
        <th>Durum</th>
        <th></th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>@item.AbouDetails1</td>
            <td>
                @if (item.AboutStatus == true)
                {
                    <span class="badge badge-success">
                        Aktif
                    </span>
                }
                else
                {
                    <span class="badge badge-danger">
                        Pasif
                    </span>

                }
            </td>
            <td>
                @if (item.AboutStatus == true)
                {
                    <a href="/AdminAbout/AboutStatus/@item.AboutId">

                        <span class="btn btn-danger">
                            Pasif Yap
                        </span>
                    </a>
                }
                else
                {
                    <a href="/AdminAbout/AboutStatus/@item.AboutId">

                        <span class="btn btn-success">
                            Aktif Yap
                        </span>
                    </a>

                }

            </td>


        </tr>

    }







</table>


@Html.Action("AboutPartial", "AdminAbout")
